.navBar {
  background-color: var(--background-header);
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 60px;
  padding-right: 60px;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
