.page {
  display: flex;
  flex-direction: column;
  gap: 50px;
  align-items: center;
}

.img {
  width: 100vw;
  height: 50vh;
  object-fit: cover;
  object-position: 100% 75%;
  box-shadow: 9px 11px 20px -1px rgba(48, 25, 25, 0.925);
  margin-bottom: 30px;
}

.listOfWork {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
}

.listWorkItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.listWorkText {
  color: var(--main-text);
  font-size: 18px;
  width: 256px;
  text-align: center;
}

.listWorkIcons {
  width: 75px;
  height: 75px;
}

.wrapForPerksLists {
  display: flex;
  width: 100%;
}

.wrapForLeftPerks {
  width: 100%;
  padding: 60px;
  background-color: var(--background-header);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.wrapForRightPerks {
  width: 100%;
  padding: 60px;
  background-color: var(--button-active);
}

.listOfPerksRight {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}

.listOfPerksLeft {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.itemOfPerks {
  display: flex;
  align-items: center;
  gap: 10px;
}

.listPerksText {
  color: var(--main-text);
  font-size: 18px;
  width: 450px;
}

.wrapForContacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50px;
}

.listOfContacts {
  margin-top: 40px;
  display: flex;
  gap: 20px;
}

.itemOfContacts {
  padding: 20px 100px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.contactLink {
  color: var(--main-text);
  font-size: 18px;
  text-decoration: underline;
}

.h3ForContacts {
  display: flex;
  align-items: center;
  gap: 5px;
}

.iconsForContacts {
  width: 20px;
  height: 20px;
}
